@tailwind base;
@tailwind components;
@tailwind utilities;


.rotate-element {
    animation: cycle 7s linear infinite;
}


@keyframes cycle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ytp-cued-thumbnail-overlay-image {
    width: 30px;
    height: 30px;
}
